{% extends 'films/base.html' %}

{% block title %} Information about the {{ film.name }} {% endblock %}

{% block content %}
    <h2> Information about the film {{ film.name }} </h2>
    <h3> Rating - {{ film.rating }} </h3>
    <h3> Budget - {{ film.budget }} </h3>
    <h3> Release year - {{ film.year }} </h3>
    <hr>
    <h3> Information about the director: </h3>
    <h3> Name - {{ film.director.first_name }} </h3>
    <h3> Surname - {{ film.director.last_name }} </h3>
    <h3> Email - {{ film.director.director_email }} </h3>
    <hr>
    <h3> List of film actors: </h3>
    <ul>
        {% for actor in film.actors.all %}
            <li> {{ actor }} </li>
        {% endfor %}
    </ul>
{% endblock %}